build/
dist/
package/gunslugs/gamedata/game.jar
package/gunslugs/gamedata/source.json
package/gunslugs/gamedata/assets/
package/gunslugs/saves/
package/gunslugs/cache/
package/gunslugs/log.txt
package/gunslugs/runtime/lib/
__pycache__/
*.apk

# Generated public PortMaster export
/ports/

package/gunslugs/gamedata/GAME.JAR
package/gunslugs/gamedata/.prepare-*
package/gunslugs/gamedata/.previous-*
